<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<form id="formCate" role="form">
			<!-- feat -->
			<h3 class="cateTitle"><span class="step">1.</span>热卖产品</h3>
			<p><input class="text" type="text" placeholder="" ng-model="featItem"></p>
			<!-- category -->
			<h3 class="cateTitle"><span class="step">2.</span>保健产品</h3>
			<p><textarea rows="2" placeholder="" ng-model="cate1Items"></textarea></p>
			<h3 class="cateTitle"><span class="step">3.</span>儿童专区</h3>
			<p><textarea rows="2" placeholder="" ng-model="cate2Items"></textarea></p>
			<!-- utils -->
			<hr>
			<button ng-click="save()">SAVE</button>
		</form>
	</div>
</div><!-- /CONTAINER -->
