<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<form id="formCate" role="form">
			<!-- feat -->
			<h3 class="cateTitle">
				<span class="step">1.</span>热卖产品
				<button class="pull-right" ng-click="saveFeat()">保存</button>
			</h3>
			<p><input class="text" type="text" placeholder="" ng-model="featItem"></p>
			<!-- category -->
			<div ng-repeat="cate in cates">	
				<h3 class="cateTitle">
					<span class="step">{{$index + 2}}.</span>{{cate.title}}
					<button class="pull-right" ng-click="saveCate($index)">保存</button>
				</h3>
				<p><textarea rows="2" placeholder="" ng-model="catesStr[$index]"></textarea></p>
			</div>	
		</form>
	</div>
</div><!-- /CONTAINER -->
