<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<form id="formCate" role="form">
			<!-- pid -->
			<h3 class="cateTitle"><span class="step">1.</span>产品号</h3>
			<p><input class="text" type="text" placeholder="" ng-model="item.pid" readonly disabled></p>
			<!-- title -->
			<h3 class="cateTitle"><span class="step">2.</span>标题名称 *</h3>
			<p><input class="text" type="text" placeholder="" ng-model="item.title"></p>
			<!-- rating -->
			<h3 class="cateTitle"><span class="step">3.</span>推荐度</h3>
			<p><input class="text" type="number" placeholder="1-5" ng-model="item.rating"></p>
			<!-- price -->
			<h3 class="cateTitle"><span class="step">4.</span>价格 *</h3>
			<p><input class="text" type="text" placeholder="" ng-model="item.price"></p>
			<!-- img_thumb -->
			<h3 class="cateTitle"><span class="step">5.</span>缩略图 *</h3>
			<p><input class="text" type="text" placeholder="" ng-model="item.img_thumb"></p>
			<!-- img_poster -->
			<h3 class="cateTitle"><span class="step">6.</span>原始图 *</h3>
			<p><input class="text" type="text" placeholder="" ng-model="item.img_poster"></p>
			<!-- desc -->
			<h3 class="cateTitle"><span class="step">7.</span>详细介绍 *</h3>
			<p><textarea rows="4" placeholder="" ng-model="item.desc"></textarea></p>	
			<!-- usage -->
			<h3 class="cateTitle"><span class="step">8.</span>用法</h3>
			<p><textarea rows="4" placeholder="" ng-model="item.usage"></textarea></p>	
			<!-- functions -->
			<h3 class="cateTitle"><span class="step">9.</span>功效</h3>
			<p><textarea rows="4" placeholder="" ng-model="item.functions"></textarea></p>	
			<!-- gallery -->
			<h3 class="cateTitle"><span class="step">10.</span>更多图片</h3>
			<p><textarea rows="4" placeholder="" ng-model="item.gallery"></textarea></p>
			<hr>
			<p><button class="pull-right" ng-click="saveItem()">保存</button></p>
		</form>
	</div>
</div><!-- /CONTAINER -->
