<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-md-12">
		<!-- INTRO -->
		<div id="intro" class="center-block text-center">
			<h1 class="brand"><img src="lib/img/brand.png" width="280" height="100" alt="澳洲健康生活馆"></h1>
			<div>
				<hr><p class="lead">澳洲健康产品直送</p>	<hr>
			</div>
		</div>
		<!-- CONTENT -->
		<div id="content" class="row">
			<!-- MAIN -->
			<div class="col-sm-12">
				<!-- CATE -->
				<div class="cate">
					<h3 class="text-center">保健产品</h3>
					<div class="productsrow">
						
						<!-- ITEM -->
						<a class="product menu-category" href="#">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a><!-- /ITEM -->
						
					</div>
				</div><!-- /CATE -->
			</div><!-- /MAIN -->
		</div><!-- /CONTENT -->
	</div>
</div><!-- /CONTAINER -->
