<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-md-12">
		<!-- INTRO -->
		<div id="intro" class="center-block text-center">
			<h1 class="brand"><img src="lib/img/brand.png" width="280" height="100" alt="澳洲健康生活馆"></h1>
			<div>
				<hr><p class="lead">澳洲健康产品直送</p>	<hr>
			</div>
		</div>
		<!-- CONTENT -->
		<div id="content" class="row">
			<!-- FEAT -->
			<div class="col-sm-4">
				<h3 class="text-left">热卖产品</h3>
				<div class="product">
					<a href="#item/b1">
						<img class="product-image-poster" src="lib/img/img-poster.png" alt="">
						<div>
							<i class="btn btn-icon fa fa-star"></i><i class="btn btn-icon fa fa-star"></i>
						</div>
					</a>
					<hr>
					<h2>Swisse Liver Detox</h2>
					<p>Swisse的定位在澳洲保健品市场属于中高定位有25年的研制经验 生产高端高效保健品著称肝宝是这个牌子的镇山之宝</p>
					<p>澳洲奥运代表团的指定保健品 价格225 120粒 (两个月分量)</p>
					<p>睡眠不足 肝火盛 睡眠不好应酬烟酒过度必要补肝护肝产品</p>
					<hr>
					<h2 class="text-right">208 RMB</h2>
					<hr>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#usage" target="_self">用法</a></li>
						<li><a data-toggle="tab" href="#functions" target="_self">功效</a></li>
						<li><a data-toggle="tab" href="#gallery" target="_self">更多图片</a></li>
					</ul>
					<div class="tab-content">
					  <div class="tab-pane active" id="usage">
					  	<p>&nbsp;</p>
							<p>每天一次 餐后两粒</p>
					  </div>
					  <div class="tab-pane" id="functions">
					  	<p>&nbsp;</p>
							<p>护肝排毒加速酒精分解</p>
				  	</div>
				  	<div class="tab-pane" id="gallery">
				  		<p>&nbsp;</p>
							<p>暂无更多图片</p>
				  	</div>
					</div>
				</div>
			</div><!-- /FEAT -->
			<!-- MAIN -->
			<div class="col-sm-8">

				<!-- CATE -->
				<div class="cate">
					<h3 class="text-center">保健产品</h3>
					<div class="productsrow">
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
					</div>
					<div class="text-right"><a class="btnMore" href="#category/1">更多产品 <i class="fa fa-angle-right"></i></a></div>
				</div>
				
				<!-- CATE -->
				<div class="cate">
					<h3 class="text-center">儿童专区</h3>
					<div class="productsrow">
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
					</div>
					<div class="text-right"><a class="btnMore" href="#category/2">更多产品 <i class="fa fa-angle-right"></i></a></div>
				</div>
				
				<!-- CATE -->
				<div class="cate">
					<h3 class="text-center">美妆药品</h3>
					<div class="productsrow">
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
					</div>
					<div class="text-right"><a class="btnMore" href="#category/3">更多产品 <i class="fa fa-angle-right"></i></a></div>
				</div>
				
				<!-- CATE -->
				<div class="cate">
					<h3 class="text-center">生活用品</h3>
					<div class="productsrow">
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
						<!-- ITEM -->
						<a class="product menu-category" href="#item/b1">
							<div class="menu-category-name list-group-item">产品号：<span class="pull-right">B1</span></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="">
							</div>
							<div class="menu-item list-group-item clearfix">Belt<span class="badge">£28</span></div>
						</a>
					</div>
					<div class="text-right"><a class="btnMore" href="#category/4">更多产品 <i class="fa fa-angle-right"></i></a></div>
				</div>

			</div><!-- /MAIN -->
		</div><!-- /CONTENT -->
	</div>
</div><!-- /CONTAINER -->
