<!-- CONTAINER -->
<div id="container" class="container">
	<div class="col-md-12">
		<!-- INTRO -->
		<div id="intro" class="center-block text-center">
			<h1 class="brand"><img src="lib/img/brand.png" width="280" height="100" alt="澳洲健康生活馆"></h1>
			<div>
				<hr><p class="lead">澳洲健康产品直送&nbsp;&nbsp;<i class="fa fa-paper-plane-o"></i></p><hr>
			</div>
		</div><!-- INTRO -->
		<!-- CONTENT -->
		<div id="content" class="row homeView">
			<!-- FEAT -->
			<div class="col-sm-4" bindonce="feat">
				<h3 class="text-center cateTitle hot"><i class="fa fa-thumbs-o-up hot"></i>&nbsp;&nbsp;热卖产品</h3>
				<div class="product">
					<a href="#" bo-href="'#item/' + feat.pid">
						<img class="product-image-poster" src="lib/img/img-poster.png" alt="" bo-src="feat.img_poster" bo-alt="feat.title">
						<div class="text-center"><i class="btn btn-icon fa fa-star" ng-repeat="i in getTimes(feat.rating) track by $index"></i></div>
					</a>
					<hr>
					<h2 class="text-center" bo-text="feat.title"></h2>
					<h3 class="text-center">产品号:&nbsp;<span bo-text="feat.pid" class="initialism"></span></h3>
					<p>&nbsp;</p>
					<div class="desc" bo-html="feat.desc"></div>
					<hr>
					<h2 class="text-center price">&yen;<span bo-text="feat.price"></span><sub>&nbsp;RMB</sub></h2>
					<hr>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#usage" target="_self">用法</a></li>
						<li><a data-toggle="tab" href="#functions" target="_self">功效</a></li>
					</ul>
					<div class="tab-content">
					  <div class="tab-pane active" id="usage">
							<p>&nbsp;</p>
							<p bo-hide="feat.usage">暂无用法内容</p>
							<div bo-html="feat.usage"></div>
					  </div>
					  <div class="tab-pane" id="functions">
					  	<p>&nbsp;</p>
							<p bo-hide="feat.functions">暂无功效内容</p>
							<div bo-html="feat.functions"></div>
				  	</div>
					</div>
				</div>
			</div><!-- /FEAT -->
			<!-- MAIN -->
			<div class="col-sm-8">
				<!-- CATE -->
				<div class="cate" ng-repeat="cate in cates" bindonce="cate" bo-class="'cate-' + cate.cid">
					<h3 class="text-center cateTitle" bo-text="cate.title"></h3>
					<div class="productsrow">
						<!-- NO PRODUCT -->
						<div class="text-center" ng-show="cate.noProduct">
							<p>&nbsp;</p>
							<p>此分类暂无任何产品</p>
						</div>
						<!-- ITEM -->
						<a class="product menu-category" href="#" 
							ng-repeat="item in cate.items" bindonce="item" bo-href="'#item/' + item.pid">
							<div class="menu-category-name list-group-item">产品号：<b><span class="pull-right initialism" bo-text="item.pid"></span></b></div>
							<div class="product-image">
								<img src="lib/img/img-thumb.png" alt="" bo-src="item.img_thumb" bo-alt="item.title">
							</div>
							<div class="menu-item list-group-item text-center">
								<h4 bo-text="item.title"></h4>
								<p class="badge">&yen;<span bo-text="item.price"></span></p>
							</div>
						</a><!-- /ITEM -->
						<!-- MORE -->
						<div class="text-right" ng-hide="cate.noProduct"><a class="btnMore" href="#" bo-href="'#category/' + cate.cid">更多产品&nbsp;<i class="fa fa-angle-right"></i></a></div>
						<!-- SEP -->
						<hr ng-hide="$index == cates.length-1">
					</div>
				</div><!-- /CATE -->
			</div><!-- /MAIN -->
		</div><!-- /CONTENT -->
	</div>
</div><!-- /CONTAINER -->
